body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    margin:0px;
}
.container {
    height:100vh;
    font-family: 'Inconsolata', monospace;
    padding: 40px 70px 0px 70px;
    width:100%;
}
h3 {
    font-weight: 600;
}

.content-section {
    display:flex;
    margin-top:200px;
    flex-direction: row;
    justify-content: center;
    gap:50px;
}
.content-section-left > img {
    width:100%;
    max-width: 540px;
    height:auto;
}
h2 {
    font-family: 'Space Mono';
    font-size:45px;
    margin-top:10px
}
.sub-heading {
 max-width: 400px;
 font-size: 20px;
 font-family: 'Space Mono';
}
.button {
  width: 216px;
  height: 68px;
  margin-top:60px;
  color:#fff;
  font-weight: bold;
  background: #333333;
}
.bottom {
 font-family: 'Montserrat Alternates', sans-serif;
 position:absolute;
 bottom:0px;
 width:100%;
 text-align: center;
 color: #BDBDBD;

}
@media screen and (max-width:768px) {
    h2 {
      font-size: 30px;  
    }
    .sub-heading {
        font-size:15px;
    }
    .button {
        width:180px;
        height: 60px;
    }
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 40px;
    }
    .container {
        padding:30px;
        height:auto;
    }
    .content-section {
        margin-top:100px;
        flex-direction: column;
    }
    .bottom {
        position:relative;
        padding-top:114px;
    }
}